body {
    font-family: Oswald;
    background-color: lightslategrey;
}
form {
    padding: 15px;
    border: 10px;
    width: 210px;
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
}
input[type="text"] {
    width: 200px;
}
input[type="email"] {
    width: 200px;
}
input[type="password"] {
    width: 200px;
}
input[type="date"] {
    width: 200px;
}
input[type="button"] {
    background-color: green;
    border: 0;
    color: white;
    font-size: 12px;
    padding: 5px;
    width: 6em;
}
button[type="reset"] {
    background-color: red;
    border: 0;
    color: white;
    font-size: 12px;
    padding: 5px;
    width: 6em;
}
#display1 {
    color: red;
    font-size: 14px;
}
#display2 {
    color: red;
    font-size: 14px;
}
#display3 {
    color: green;
    font-size: 11px;
}
